<?xml version="1.0" encoding="UTF-8"?>
<suite name="LoginTestSuite" parallel="false">

<!-- THÊM LISTENER ĐỂ TỰ ĐỘNG STARTTEST -->
<listeners>
    <listener class-name="com.automation.listeners.ExtentTestListener"/>
</listeners>

<test name="ChromeLoginTest">
    <parameter name="browser" value="chrome"/>
    <parameter name="url" value="https://demo5.cybersoft.edu.vn/login"/>

    <classes>
        <class name="com.automation.tests.LoginTest"/>
    </classes>
</test>

</suite>